@import "./global.scss";

html {
    background-color: $bone;

    body {
        height: 100%;
        width: 100%;

        .skip-to-content-link {
            background: $teal;
            color: $bone;
            height: 30px;
            left: 50%;
            padding: 8px;
            position: absolute;
            transform: translateY(-100%);
            transition: transform 0.3s;
            text-decoration: none;
        }
          
        .skip-to-content-link:focus {
            transform: translateY(0%);
        }
    }
}