//light
$bone: #F9F6EE;
$salmon: #F38375;
$teal: #107E7D;
$purpleNavy: #585481;
$gunmetal: #232C33;

//dark
$gunmetal: #232C33;
$charcoal: #374558;
$eton: #A1CCA5;
$rosy: #B79492;
$bone: #F9F6EE;

//fonts
$source: source-code-pro, monospace;
$display: freight-display-pro, serif;

//media queries
$mobile-width: 425px;
$tablet-sm-width: 768px;
$tablet-lg-width: 1000px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet-sm {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-sm-width}) {
        @content;
    }
}

@mixin tablet-lg {
    @media (min-width: #{$tablet-sm-width + 1}) and (max-width: #{$tablet-lg-width}) {
        @content;
    }
}