.home {
  height: 100vh;
  background-color: #F9F6EE;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 425px) {
  .home {
    height: 100vh;
  }
}
.home .text-box {
  height: 60vh;
  color: #585481;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2rem;
}
@media (max-width: 425px) {
  .home .text-box {
    height: 40vh;
    margin-left: 0.5rem;
  }
}
@media (min-width: 425px) and (max-width: 1000px) {
  .home .text-box {
    height: 40vh;
  }
}
.home .text-box h2 {
  font-size: 4rem;
  font-weight: 300;
}
@media (max-width: 425px) {
  .home .text-box h2 {
    font-size: 2.5rem;
  }
}
.home .text-box h1 {
  font-size: 7rem;
  font-family: freight-display-pro, serif;
  font-weight: 400;
  color: #F38375;
  margin-top: -1rem;
}
@media (max-width: 425px) {
  .home .text-box h1 {
    font-size: 3.5rem;
  }
}
.home .text-box .bottom-text-home {
  display: flex;
}
.home .text-box .bottom-text-home h3 {
  font-size: 3rem;
  font-weight: 300;
  font-family: freight-display-pro, serif;
}
@media (max-width: 425px) {
  .home .text-box .bottom-text-home h3 {
    font-size: 2rem;
  }
}
.home .text-box .bottom-text-home h3 span {
  font-weight: 300;
  font-family: source-code-pro, monospace;
  color: #107E7D;
  margin-left: 1rem;
}
@media (max-width: 425px) {
  .home .text-box .bottom-text-home h3 span {
    margin-left: 0.5rem;
  }
}
.home .text-box .bottom-text-home .ityped-cursor {
  margin-left: -0.5rem;
  animation: blink 1s infinite;
}
@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home-dark {
  height: 100vh;
  background-color: #232C33;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 425px) {
  .home-dark {
    height: 100vh;
  }
}
.home-dark .text-box {
  height: 60vh;
  color: #F9F6EE;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2rem;
}
@media (max-width: 425px) {
  .home-dark .text-box {
    height: 40vh;
    margin-left: 0.5rem;
  }
}
@media (min-width: 425px) and (max-width: 1000px) {
  .home-dark .text-box {
    height: 40vh;
  }
}
.home-dark .text-box h2 {
  font-size: 4rem;
  font-weight: 300;
}
@media (max-width: 425px) {
  .home-dark .text-box h2 {
    font-size: 2.5rem;
  }
}
.home-dark .text-box h1 {
  font-size: 7rem;
  font-family: freight-display-pro, serif;
  font-weight: 400;
  color: #B79492;
  margin-top: -1rem;
}
@media (max-width: 425px) {
  .home-dark .text-box h1 {
    font-size: 3.5rem;
  }
}
.home-dark .text-box .bottom-text-home {
  display: flex;
}
.home-dark .text-box .bottom-text-home h3 {
  font-size: 3rem;
  font-weight: 300;
  font-family: freight-display-pro, serif;
}
@media (max-width: 425px) {
  .home-dark .text-box .bottom-text-home h3 {
    font-size: 2rem;
  }
}
.home-dark .text-box .bottom-text-home h3 span {
  font-weight: 300;
  font-family: source-code-pro, monospace;
  color: #A1CCA5;
  margin-left: 1rem;
}
@media (max-width: 425px) {
  .home-dark .text-box .bottom-text-home h3 span {
    margin-left: 0.5rem;
  }
}
.home-dark .text-box .bottom-text-home .ityped-cursor {
  margin-left: -1rem;
  animation: blink 1s infinite;
}
@media (max-width: 425px) {
  .home-dark .text-box .bottom-text-home .ityped-cursor {
    margin-left: -0.5rem;
  }
}
@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=home.css.map */
