.home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  overflow-y: hidden;
}
@media (max-width: 425px) {
  .home {
    height: 110vh;
  }
}
.home .home-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .home .home-container {
    width: 90%;
    margin-left: 1.5rem;
  }
}
.home .home-container .left {
  height: 15rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: -4.5rem;
  display: none;
}
@media (max-width: 425px) {
  .home .home-container .left {
    margin-top: 10rem;
  }
}
.home .home-container .left .v-line-left {
  width: 3px;
  height: 50px;
  background-color: #4EA8A8;
}
.home .home-container .left .m-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .home-container .left .m-icons .l-a {
  margin: 2px 0;
}
.home .home-container .left .m-icons .l-a .i-home {
  width: 2rem;
}
.home .home-container .left .m-icons .l-a .i-home:hover {
  width: 2.5rem;
  transition: all 0.5s ease;
}
.home .home-container .left .m-icons .l-a .i-email {
  width: 1.5rem;
}
.home .home-container .left .m-icons .l-a .i-email:hover {
  width: 2rem;
  transition: all 0.5s ease;
}
.home .home-container .center {
  height: 30rem;
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 425px) {
  .home .home-container .center {
    margin-top: -15rem;
  }
}
.home .home-container .center h2 {
  color: #E6BA45;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0;
}
@media (max-width: 425px) {
  .home .home-container .center h2 {
    text-align: center;
  }
}
.home .home-container .center .logo-container {
  height: 15rem;
  width: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4EA8A8;
  border-radius: 200px;
  opacity: 0;
}
@media (max-width: 425px) {
  .home .home-container .center .logo-container {
    height: 8rem;
    width: 18.5rem;
  }
}
.home .home-container .center .logo-container .logo {
  width: 27.5rem;
  height: 10rem;
}
@media (max-width: 425px) {
  .home .home-container .center .logo-container .logo {
    width: 15rem;
    height: 6rem;
  }
}
.home .home-container .center .home-cta {
  text-decoration: none;
}
@media (max-width: 425px) {
  .home .home-container .center .home-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.home .home-container .center .home-cta .c-a {
  text-decoration: none;
  opacity: 0;
}
@media (max-width: 425px) {
  .home .home-container .center .home-cta .c-a {
    margin: 0.5rem 0;
  }
}
.home .home-container .center .home-cta .c-a .resume-btn {
  height: 3.5rem;
  width: 7rem;
  margin: 0 1rem;
  border: 3px solid #4EA8A8;
  border-radius: 12.5px;
  background-color: #107E7D;
  color: #4EA8A8;
  font-size: 1.5rem;
  cursor: pointer;
}
.home .home-container .center .home-cta .c-a .resume-btn:hover {
  background-color: #4EA8A8;
  color: #107E7D;
  transition: all 0.5s ease;
}
.home .home-container .center .home-cta .c-a .lc-btn {
  height: 3.5rem;
  width: 7rem;
  margin: 0 1rem;
  border-radius: 12.5px;
  background-color: #4EA8A8;
  border: 3px solid #4EA8A8;
  color: #107E7D;
  font-size: 1.5rem;
  cursor: pointer;
}
.home .home-container .center .home-cta .c-a .lc-btn:hover {
  background-color: #107E7D;
  color: #4EA8A8;
  transition: all 0.5s ease;
}
.home .home-container .right {
  height: 15rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: -4.5rem;
  display: none;
}
@media (max-width: 425px) {
  .home .home-container .right {
    margin-top: 10rem;
    margin-right: -0.5rem;
  }
}
.home .home-container .right .v-line-right {
  width: 3px;
  height: 50px;
  background-color: #4EA8A8;
}
.home .home-container .right span {
  font-size: 1.25rem;
  transform: rotate(90deg);
  margin-left: 5px;
  color: #4EA8A8;
}

/*# sourceMappingURL=home.css.map */
