.menu {
  width: 20rem;
  height: calc(100vh - 70px);
  background-color: #107E7D;
  position: fixed;
  margin-top: 70px;
  right: -20rem;
  opacity: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease;
}
.menu .about-menu {
  width: 80%;
  height: 10rem;
}
.menu .about-menu .about-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu .about-menu .about-container .icon {
  cursor: pointer;
}
.menu .about-menu .about-container h2 {
  color: #F9F6EE;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 1rem;
  cursor: pointer;
}
.menu .portfolio-menu {
  width: 80%;
  height: 10rem;
}
.menu .portfolio-menu .portfolio-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu .portfolio-menu .portfolio-container .icon {
  cursor: pointer;
}
.menu .portfolio-menu .portfolio-container h2 {
  color: #F9F6EE;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 1rem;
  cursor: pointer;
}
.menu .contact-menu {
  width: 80%;
  height: 10rem;
}
.menu .contact-menu .contact-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.menu .contact-menu .contact-container .icon {
  cursor: pointer;
}
.menu .contact-menu .contact-container h2 {
  color: #F9F6EE;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 1rem;
  cursor: pointer;
}
.menu.active {
  opacity: 1;
  z-index: 2;
  right: 0;
  background-color: #107E7D;
}

.menu-dark {
  width: 20rem;
  height: calc(100vh - 70px);
  background-color: #107E7D;
  position: fixed;
  margin-top: 70px;
  right: -20rem;
  opacity: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease;
}
.menu-dark .about-menu {
  width: 80%;
  height: 10rem;
}
.menu-dark .about-menu .about-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu-dark .about-menu .about-container .icon {
  cursor: pointer;
}
.menu-dark .about-menu .about-container h2 {
  color: #F9F6EE;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 1rem;
  cursor: pointer;
}
.menu-dark .portfolio-menu {
  width: 80%;
  height: 10rem;
}
.menu-dark .portfolio-menu .portfolio-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu-dark .portfolio-menu .portfolio-container .icon {
  cursor: pointer;
}
.menu-dark .portfolio-menu .portfolio-container h2 {
  color: #F9F6EE;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 1rem;
  cursor: pointer;
}
.menu-dark .contact-menu {
  width: 80%;
  height: 10rem;
}
.menu-dark .contact-menu .contact-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.menu-dark .contact-menu .contact-container .icon {
  cursor: pointer;
}
.menu-dark .contact-menu .contact-container h2 {
  color: #F9F6EE;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 1rem;
  cursor: pointer;
}
.menu-dark.active-dark {
  opacity: 1;
  z-index: 2;
  right: 0;
  background-color: #107E7D;
}

/*# sourceMappingURL=menu.css.map */
