@import "../../global.scss";

.menu {
    width: 20rem;
    height: calc(100vh - 70px);
    background-color: $salmon;
    position: fixed;
    margin-top: 70px;
    right: -20rem;
    opacity: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1.5s ease;

    .about {
        width: 80%;
        height: 10rem;
        background-color: $salmon;

        .about-container {
            display: flex;
            align-items: center;
            text-decoration: none;
    
            .icon {
                cursor: pointer;
            }
    
            h2 {
                color: $bone;
                font-size: 2rem;
                font-weight: 300;
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }
    
    .portfolio {
        width: 80%;
        height: 10rem;
        background-color: $salmon;
        
        .portfolio-container {
            display: flex;
            align-items: center;
            text-decoration: none;

            .icon {
                cursor: pointer;
            }

            h2 {
                color: $bone;
                font-size: 2rem;
                font-weight: 300;
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }

    .contact {
        width: 80%;
        height: 10rem;
        background-color: $salmon;
        
        .contact-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;
            margin-left: -2.25rem;

            .icon {
                cursor: pointer;
            }

            h2 {
                color: $bone;
                font-size: 2rem;
                font-weight: 300;
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }

    &.active {
        opacity: 1;
        z-index: 2;
        right: 0;
        background-color: $salmon;
    }
}