@import "../../global.scss";

.footer {
    height: 70px;
    width: 100%;
    background-color: transparent;
    margin-top: -70px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
        margin-left: 77rem;
        
        h3{
            font-size: 1.5rem;
            font-weight: 300;
            font-family: $display;
            color: $bone;
        }
    }
}

.footer-dark {
    height: 70px;
    width: 100%;
    background-color: transparent;
    margin-top: -70px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
        margin-left: 77rem;
        
        h3{
            font-size: 1.5rem;
            font-weight: 300;
            font-family: $display;
            color: $bone;
        }
    }
}