@import "../../global.scss";

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
    .about-container { 
        height: 100vh;           
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        .a-title {
            height: 6rem;
            width: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-top: -7rem;
    
            h3 {
                color: $cool;
                font-size: 1.125rem;  
            }
    
            .a-title-box {
                display: flex;
                align-items: center;
                justify-content: center;
             
                .h-line {
                    height: 3px;
                    width: 50px;
                    background-color: $gold;        
                }
    
                h2 {
                    color: $gold;
                    font-size: 2rem;
                    text-transform: uppercase;
                    margin: 0 1rem;
                }
            }
        }

        .a-content {
            width: 80vw;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .left {
                flex: 6;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
        
                .img-container {
                    height: 25rem;
                    width: 25rem;
                    border-radius: 25px;
                    background-color: $cool; 
                    margin-top: -3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .djld {
                        width: 20rem;
                        height: 20rem;
                        border-radius: 25px;
                        object-fit: cover;
                        object-position: 0 15%;
                    }
                }
            }

            .right {
                flex: 6;
                width: 100%;
                width: 25rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                margin-top: -3rem;

                p {
                    width: 25rem;
                    font-size: 1.25rem;
                    font-weight: 300;
                    color: $egg;
                    margin-bottom: 1rem;
                }

                .skills {
                    width: 25rem;
                    height: 15rem;
                    background-color: $cool;
                    border-radius: 25px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;

                    h2 {
                        font-size: 2rem;
                        font-weight: 300;
                        color: $teal;
                    }

                    .skills-container {
                        width: 90%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 1rem;

                        .skills-row {
                            height: 10rem;
                            flex: 4;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-evenly;

                            &:nth-child(2) {
                                margin-left: -1rem;
                            }

                            &:nth-child(3) {
                              margin-left: 1rem;
                            }


                            .skill {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .skill-img {
                                    width: 24px;
                                }

                                .skill-name {
                                    font-size: 1.25rem;
                                    text-transform: uppercase;
                                    margin-left: 0.25rem;
                                    color: $egg;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}