.about {
  height: 100vh;
  background-color: #107E7D;
  display: flex;
  align-items: center;
}
@media (max-width: 425px) {
  .about {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .about {
    height: 110vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .about {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.about .part-one {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about .part-one .avatar {
  width: 30rem;
  height: 30rem;
  margin-top: 2rem;
}
@media (max-width: 425px) {
  .about .part-one .avatar {
    width: 20rem;
    height: 20rem;
  }
}
.about .part-one h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: freight-display-pro, serif;
  color: #F38375;
}
@media (max-width: 425px) {
  .about .part-one h2 {
    font-size: 2.25rem;
  }
}
.about .part-one .po-icons {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.about .part-one .po-icons .icon {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
@media (max-width: 425px) {
  .about .part-one .po-icons .icon {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (min-width: 1001px) {
  .about .part-one .po-icons .icon:hover {
    animation: moveUp 1s ease;
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.about .part-two {
  height: 30rem;
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-left: -4rem;
}
@media (max-width: 425px) {
  .about .part-two {
    height: 15rem;
    width: 90%;
    margin-top: 0;
    margin-left: 0;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .about .part-two {
    height: 45rem;
    margin-top: 0;
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .about .part-two {
    height: 40rem;
    margin-top: 0;
    margin-left: 0;
  }
}
.about .part-two h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #F38375;
}
@media (max-width: 425px) {
  .about .part-two h1 {
    font-size: 2.75rem;
  }
}
.about .part-two p {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: freight-display-pro, serif;
  color: #F9F6EE;
  text-align: center;
  margin-top: -2rem;
}
@media (max-width: 425px) {
  .about .part-two p {
    margin-top: 0;
  }
}
.about .part-two h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #F38375;
}
@media (max-width: 425px) {
  .about .part-two h2 {
    font-size: 2.5rem;
  }
}
.about .part-two .icon {
  height: 5rem;
  width: 5rem;
  margin-top: -2rem;
}
@media (max-width: 425px) {
  .about .part-two .icon {
    height: 3.5rem;
    width: 3.5rem;
    margin-top: 0;
  }
}

.about-dark {
  height: 100vh;
  background-color: #374558;
  display: flex;
  align-items: center;
}
@media (max-width: 425px) {
  .about-dark {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .about-dark {
    height: 110vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .about-dark {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.about-dark .part-one {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-dark .part-one .avatar {
  width: 30rem;
  height: 30rem;
  margin-top: 2rem;
}
@media (max-width: 425px) {
  .about-dark .part-one .avatar {
    width: 20rem;
    height: 20rem;
  }
}
.about-dark .part-one h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: freight-display-pro, serif;
  color: #B79492;
}
@media (max-width: 425px) {
  .about-dark .part-one h2 {
    font-size: 2.25rem;
  }
}
.about-dark .part-one .po-icons {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.about-dark .part-one .po-icons .icon {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
@media (max-width: 425px) {
  .about-dark .part-one .po-icons .icon {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (min-width: 1000px) {
  .about-dark .part-one .po-icons .icon:hover {
    animation: moveUp 1s ease;
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.about-dark .part-two {
  height: 30rem;
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-left: -4rem;
}
@media (max-width: 425px) {
  .about-dark .part-two {
    height: 15rem;
    width: 90%;
    margin-top: 0;
    margin-left: 0;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .about-dark .part-two {
    height: 45rem;
    margin-top: 0;
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .about-dark .part-two {
    height: 40rem;
    margin-top: 0;
    margin-left: 0;
  }
}
.about-dark .part-two h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #B79492;
}
@media (max-width: 425px) {
  .about-dark .part-two h1 {
    font-size: 2.75rem;
  }
}
.about-dark .part-two p {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: freight-display-pro, serif;
  color: #F9F6EE;
  text-align: center;
  margin-top: -2rem;
}
@media (max-width: 425px) {
  .about-dark .part-two p {
    margin-top: 0;
  }
}
.about-dark .part-two h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #B79492;
}
@media (max-width: 425px) {
  .about-dark .part-two h2 {
    font-size: 2.5rem;
  }
}
.about-dark .part-two .icon {
  height: 5rem;
  width: 5rem;
  margin-top: -2rem;
}
@media (max-width: 425px) {
  .about-dark .part-two .icon {
    height: 3.5rem;
    width: 3.5rem;
    margin-top: 0;
  }
}

/*# sourceMappingURL=about.css.map */
