@import "../../global.scss";

.about {
    height: 100vh;
    background-color: $teal;
    display: flex;
    align-items: center;

    .part-one {
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .avatar {
            width: 30rem;
            height: 30rem;
            margin-top: 1rem;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 400;
            font-family: $display;
            color: $bone;
        }

        .po-icons {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            .icon {
                height: 3rem;
                width: 3rem;
                cursor: pointer;

                @media (min-width: 900px) {

                    &:hover{
                        animation: moveUp 1s ease;
                    }
                }
                
                @keyframes moveUp {

                    0% {
                        transform: translateY(0px);
                    }
                    50% {
                        transform: translateY(-10px);
                    }

                    100% {
                        transform: translateY(0px);
                    }
                }
            }
        }
    }

    .part-two {
        height: 30rem;
        flex: 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h1 {
            font-size: 4rem;
            font-weight: 300;
            color: $salmon;
        }

        p {
            font-size: 1.5rem;
            font-weight: 300;
            font-family: $display;
            color: $bone;
            text-align: center;
            margin-top: -2rem;
        }

        h2 {
            font-size: 3rem;
            font-weight: 300;
            color: $salmon;
        }

        .icon {
            height: 5rem;
            width: 5rem;
            margin-top: -2rem;
        }
    }
}