@import "../../global.scss";

.about {
    height: 100vh;
    background-color: $teal;
    display: flex;
    align-items: center;

    @include mobile {
        height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    @include tablet {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .part-one {
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .avatar {
            width: 30rem;
            height: 30rem;
            margin-top: 2rem;

            @include mobile {
                width: 20rem;
                height: 20rem;
                margin-top: 0;
            }
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 400;
            font-family: $display;
            color: $salmon;

            @include mobile {
                font-size: 2.25rem;
            }
        }

        .po-icons {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            .icon {
                height: 3rem;
                width: 3rem;
                cursor: pointer;

                @include mobile {
                    height: 2.5rem;
                    width: 2.5rem;
                }

                @media (min-width: 1000px) {

                    &:hover{
                        animation: moveUp 1s ease;
                    }
                }
                
                @keyframes moveUp {

                    0% {
                        transform: translateY(0px);
                    }
                    50% {
                        transform: translateY(-10px);
                    }

                    100% {
                        transform: translateY(0px);
                    }
                }
            }
        }
    }

    .part-two {
        height: 30rem;
        flex: 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5rem;

        @include mobile {
            height: 15rem;
            width: 90%;
            margin-top: 0;
        }

        @include tablet {
            height: 40rem;
            margin-top: 0;
        }

        h1 {
            font-size: 4rem;
            font-weight: 300;
            color: $salmon;

            @include mobile {
                font-size: 2.75rem;
            }
        }

        p {
            font-size: 1.5rem;
            font-weight: 300;
            font-family: $display;
            color: $bone;
            text-align: center;
            margin-top: -2rem;

            @include mobile {
                margin-top: 0;
            }
        }

        h2 {
            font-size: 3rem;
            font-weight: 300;
            color: $salmon;

            @include mobile {
                font-size: 2.5rem;
            }
        }

        .icon {
            height: 5rem;
            width: 5rem;
            margin-top: -2rem;

            @include mobile {
                height: 3.5rem;
                width: 3.5rem;
                margin-top: 0;
            }
        }
    }
}

.about-dark {
    height: 100vh;
    background-color: $charcoal;
    display: flex;
    align-items: center;

    @include mobile {
        height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    @include tablet {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .part-one {
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .avatar {
            width: 30rem;
            height: 30rem;
            margin-top: 2rem;

            @include mobile {
                width: 20rem;
                height: 20rem;
                margin-top: 0;
            }
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 400;
            font-family: $display;
            color: $rosy;
            
            @include mobile {
                font-size: 2.25rem;
            }
        }

        .po-icons {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            .icon {
                height: 3rem;
                width: 3rem;
                cursor: pointer;

                @include mobile {
                    height: 2.5rem;
                    width: 2.5rem;
                }

                @media (min-width: 1000px) {

                    &:hover{
                        animation: moveUp 1s ease;
                    }
                }
                
                @keyframes moveUp {

                    0% {
                        transform: translateY(0px);
                    }
                    50% {
                        transform: translateY(-10px);
                    }

                    100% {
                        transform: translateY(0px);
                    }
                }
            }
        }
    }

    .part-two {
        height: 30rem;
        flex: 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5rem;

        @include mobile {
            height: 15rem;
            width: 90%;
            margin-top: 0;
        }

        @include tablet {
            height: 40rem;
            margin-top: 0;
        }

        h1 {
            font-size: 4rem;
            font-weight: 300;
            color: $rosy;

            @include mobile {
                font-size: 2.75rem;
            }
        }

        p {
            font-size: 1.5rem;
            font-weight: 300;
            font-family: $display;
            color: $bone;
            text-align: center;
            margin-top: -2rem;

            @include mobile {
                margin-top: 0;
            }
        }

        h2 {
            font-size: 3rem;
            font-weight: 300;
            color: $rosy;

            @include mobile {
                font-size: 2.5rem;
            }
        }

        .icon {
            height: 5rem;
            width: 5rem;
            margin-top: -2rem;

            @include mobile {
                height: 3.5rem;
                width: 3.5rem;
                margin-top: 0;
            }
        }
    }
}