.portfolio {
  height: 90vh;
  background-color: #F9F6EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 425px) and (max-width: 768px) {
  .portfolio {
    height: 80vh;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .portfolio {
    height: 80vh;
  }
}
@media (max-width: 425px) {
  .portfolio {
    height: 140vh;
  }
}
.portfolio h1 {
  font-size: 5rem;
  font-family: freight-display-pro, serif;
  font-weight: 300;
  color: #E6BA45;
  margin-top: 2.5rem;
}
@media (max-width: 425px) {
  .portfolio h1 {
    font-size: 4rem;
  }
}
.portfolio .item-container {
  height: 80vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
@media (max-width: 425px) {
  .portfolio .item-container {
    height: 135vh;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .portfolio .item-container {
    width: 90%;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .portfolio .item-container {
    width: 90%;
  }
}
.portfolio .item-container .item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
@media (max-width: 425px) {
  .portfolio .item-container .item {
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0;
  }
}
.portfolio .item-container .item .website-box {
  flex: 3;
}
.portfolio .item-container .item .website-box .portfolio-img {
  height: 8rem;
  width: 14rem;
  border-radius: 10px;
  border: 1px solid #232C33;
  background-color: #232C33;
}
@media (min-width: 769px) and (max-width: 1000px) {
  .portfolio .item-container .item .website-box .portfolio-img {
    height: 10rem;
    width: 18rem;
  }
}
.portfolio .item-container .item .text-box {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 2rem;
}
@media (max-width: 425px) {
  .portfolio .item-container .item .text-box {
    align-items: center;
    text-align: center;
    margin-left: 0;
  }
}
.portfolio .item-container .item .text-box h2 {
  color: #107E7D;
  font-family: freight-display-pro, serif;
  font-weight: 400;
  font-size: 2rem;
}
@media (max-width: 425px) {
  .portfolio .item-container .item .text-box h2 {
    font-size: 1.75rem;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .portfolio .item-container .item .text-box h2 {
    font-size: 2rem;
  }
}
.portfolio .item-container .item .text-box p {
  color: #232C33;
  font-weight: 300;
  font-size: 1rem;
}
@media (max-width: 425px) {
  .portfolio .item-container .item .text-box p {
    font-size: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .portfolio .item-container .item .text-box p {
    font-size: 1rem;
  }
}
.portfolio .item-container .item .text-box h3 {
  font-size: 1.5rem;
  font-family: freight-display-pro, serif;
  font-weight: 400;
  color: #107E7D;
}
.portfolio .item-container .item .text-box .stack {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .item-container .item .text-box .stack h4 {
  font-size: 1rem;
  font-weight: 300;
  color: #232C33;
  margin-right: 1rem;
}
.portfolio .item-container .item .text-box .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .item-container .item .text-box .buttons .button-link {
  text-decoration: none;
}
.portfolio .item-container .item .text-box .buttons .button-link .link-button {
  margin-right: 1rem;
  margin-top: 0.5rem;
  border: 2px solid #E6BA45;
  color: #E6BA45;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.portfolio .item-container .item .text-box .buttons .button-link .link-button h5 {
  font-size: 1rem;
  padding: 0 1rem;
  font-weight: 400;
}
.portfolio .item-container .item .text-box .buttons .button-link .link-button:hover {
  background-color: #E6BA45;
  color: #F9F6EE;
}
.portfolio .item-container .item .text-box .buttons .link-button {
  margin-right: 1rem;
  margin-top: 0.5rem;
  border: 2px solid #E6BA45;
  color: #E6BA45;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.portfolio .item-container .item .text-box .buttons .link-button h5 {
  font-size: 1rem;
  padding: 0 1rem;
  font-weight: 400;
}
.portfolio .item-container .item .text-box .buttons .link-button:hover {
  background-color: #E6BA45;
  color: #F9F6EE;
}
.portfolio hr {
  width: 100%;
}

.portfolio-dark {
  height: 90vh;
  background-color: #232C33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 425px) and (max-width: 768px) {
  .portfolio-dark {
    height: 80vh;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .portfolio-dark {
    height: 80vh;
  }
}
@media (max-width: 425px) {
  .portfolio-dark {
    height: 140vh;
  }
}
.portfolio-dark h1 {
  font-size: 5rem;
  font-family: freight-display-pro, serif;
  font-weight: 300;
  color: #107E7D;
  margin-top: 2.5rem;
}
@media (max-width: 425px) {
  .portfolio-dark h1 {
    font-size: 4rem;
  }
}
.portfolio-dark .item-container {
  height: 80vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
@media (max-width: 425px) {
  .portfolio-dark .item-container {
    height: 135vh;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .portfolio-dark .item-container {
    width: 90%;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .portfolio-dark .item-container {
    width: 80%;
  }
}
.portfolio-dark .item-container .item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
@media (max-width: 425px) {
  .portfolio-dark .item-container .item {
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0;
  }
}
.portfolio-dark .item-container .item .website-box {
  flex: 3;
}
.portfolio-dark .item-container .item .website-box .portfolio-img {
  height: 8rem;
  width: 14rem;
  border-radius: 10px;
  border: 1px solid #F9F6EE;
  background-color: #374558;
  cursor: pointer;
}
@media (min-width: 769px) and (max-width: 1000px) {
  .portfolio-dark .item-container .item .website-box .portfolio-img {
    height: 10rem;
    width: 18rem;
  }
}
.portfolio-dark .item-container .item .text-box {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 2rem;
}
@media (max-width: 425px) {
  .portfolio-dark .item-container .item .text-box {
    align-items: center;
    text-align: center;
    margin-left: 0;
  }
}
.portfolio-dark .item-container .item .text-box h2 {
  color: #E6BA45;
  font-family: freight-display-pro, serif;
  font-weight: 400;
  font-size: 2rem;
}
@media (max-width: 425px) {
  .portfolio-dark .item-container .item .text-box h2 {
    font-size: 1.75rem;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .portfolio-dark .item-container .item .text-box h2 {
    font-size: 2rem;
  }
}
.portfolio-dark .item-container .item .text-box p {
  color: #F9F6EE;
  font-weight: 300;
  font-size: 1rem;
}
@media (max-width: 425px) {
  .portfolio-dark .item-container .item .text-box p {
    font-size: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .portfolio-dark .item-container .item .text-box p {
    font-size: 1rem;
  }
}
.portfolio-dark .item-container .item .text-box h3 {
  font-size: 1.5rem;
  font-family: freight-display-pro, serif;
  font-weight: 400;
  color: #E6BA45;
}
.portfolio-dark .item-container .item .text-box .stack {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-dark .item-container .item .text-box .stack h4 {
  font-size: 1rem;
  font-weight: 300;
  color: #F9F6EE;
  margin-right: 1rem;
}
.portfolio-dark .item-container .item .text-box .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-dark .item-container .item .text-box .buttons .button-link {
  text-decoration: none;
}
.portfolio-dark .item-container .item .text-box .buttons .button-link .link-button {
  margin-right: 1rem;
  margin-top: 0.5rem;
  border: 2px solid #107E7D;
  color: #107E7D;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.portfolio-dark .item-container .item .text-box .buttons .button-link .link-button h5 {
  font-size: 1rem;
  padding: 0 1rem;
  font-weight: 400;
}
.portfolio-dark .item-container .item .text-box .buttons .button-link .link-button:hover {
  background-color: #107E7D;
  color: #232C33;
}
.portfolio-dark .item-container .item .text-box .buttons .link-button {
  margin-right: 1rem;
  margin-top: 0.5rem;
  border: 2px solid #107E7D;
  color: #107E7D;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.portfolio-dark .item-container .item .text-box .buttons .link-button h5 {
  font-size: 1rem;
  padding: 0 1rem;
  font-weight: 400;
}
.portfolio-dark .item-container .item .text-box .buttons .link-button:hover {
  background-color: #107E7D;
  color: #232C33;
}
.portfolio-dark hr {
  width: 100%;
}

/*# sourceMappingURL=portfolio.css.map */
