@import "../../global.scss";

.portfolio {
    height: 100vh;
    background-color: $bone;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @include tablet {
        height: 80vh;
    }

    @include mobile {
        height: 100vh;
    }

    h1 {
        font-size: 5rem;
        font-family: $display;
        font-weight: 300;
        color: $teal;
        margin-top: 1.5rem;

        @include mobile {
            font-size: 4rem;
            margin-top: 3rem;
        }
    }

    .item-container {
        height: 65vh;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        @include mobile {
            height: 90vh;
        }

        @include tablet {
            width: 80%;
        }

        .item {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            @include mobile {
                flex-direction: column;
                justify-content: space-evenly;
            }

            .website-box {
                flex: 3;

                .portfolio-img {
                    height: 8rem;
                    width: 14rem;
                    border-radius: 10px;
                    border: 1px solid $teal;
                    background-color: $gunmetal;

                    @include tablet {
                        height: 10rem;
                        width: 18rem;
                    }
                }
            }

            .text-box {
                flex: 9;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                margin-left: 2rem;

                @include mobile {
                    align-items: center;
                    text-align: center;
                    margin-left: 0;
                }

                h2 {
                    color: $salmon;
                    font-family: $display;
                    font-weight: 400;
                    font-size: 2.25rem;

                    @include mobile {
                        font-size: 1.75rem;
                    }

                    @include tablet {
                        font-size: 2rem;
                    }
                }

                p {
                    color: $purpleNavy;
                    font-weight: 300;
                    font-size: 1.25rem;

                    @include mobile {
                        font-size: 1rem;
                    }

                    @include tablet {
                        font-size: 1rem;
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .button-link {
                        text-decoration: none;

                        .link-button {
                            margin-right: 1rem;
                            margin-top: 0.5rem;
                            border: 2px solid $teal;
                            color: $teal;
                            border-radius: 20px;
                            cursor: pointer;
                            transition: all 0.5s ease;
    
                            h3 {
                                font-size: 1rem;
                                padding: 0 1rem;
                                font-weight: 400;
                            }
    
                            &:hover {
                                background-color: $teal;
                                color: $bone;
                            }
                        }
                    }

                    .link-button {
                        margin-right: 1rem;
                        margin-top: 0.5rem;
                        border: 2px solid $teal;
                        color: $teal;
                        border-radius: 20px;
                        cursor: pointer;
                        transition: all 0.5s ease;

                        h3 {
                            font-size: 1rem;
                            padding: 0 1rem;
                            font-weight: 400;
                        }

                        &:hover {
                            background-color: $teal;
                            color: $bone;
                        }
                    }
                }
            }
        }
    }
}

.portfolio-dark {
    height: 100vh;
    background-color: $gunmetal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @include tablet {
        height: 80vh;
    }

    @include mobile {
        height: 100vh;
    }

    h1 {
        font-size: 5rem;
        font-family: $display;
        font-weight: 300;
        color: $eton;
        margin-top: 1.5rem;

        @include mobile {
            font-size: 4rem;
            margin-top: 3rem;
        }
    }

    .item-container {
        height: 65vh;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        @include mobile {
            height: 90vh;
        }

        @include tablet {
            width: 80%;
        }

        .item {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            @include mobile {
                flex-direction: column;
                justify-content: space-evenly;
                margin-bottom: 1rem;
            }

            .website-box {
                flex: 3;

                .portfolio-img {
                    height: 8rem;
                    width: 14rem;
                    border-radius: 10px;
                    border: 1px solid $eton;
                    background-color: $charcoal;
                    cursor: pointer;

                    @include tablet {
                        height: 10rem;
                        width: 18rem;
                    }
                }
            }

            .text-box {
                flex: 9;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                margin-left: 2rem;

                @include mobile {
                    align-items: center;
                    text-align: center;
                    margin-left: 0;
                }

                h2 {
                    color: $rosy;
                    font-family: $display;
                    font-weight: 400;
                    font-size: 2.25rem;

                    @include mobile {
                        font-size: 1.75rem;
                    }

                    @include tablet {
                        font-size: 2rem;
                    }
                }

                p {
                    color: $bone;
                    font-weight: 300;
                    font-size: 1.25rem;
                    
                    @include mobile {
                        font-size: 1rem;
                    }

                    @include tablet {
                        font-size: 1rem;
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .button-link {
                        text-decoration: none;

                        .link-button {
                            margin-right: 1rem;
                            margin-top: 0.5rem;
                            border: 2px solid $eton;
                            color: $eton;
                            border-radius: 20px;
                            cursor: pointer;
                            transition: all 0.5s ease;
    
                            h3 {
                                font-size: 1rem;
                                padding: 0 1rem;
                                font-weight: 400;
                            }
    
                            &:hover {
                                background-color: $eton;
                                color: $gunmetal;
                            }
                        }
                    }

                    .link-button {
                        margin-right: 1rem;
                        margin-top: 0.5rem;
                        border: 2px solid $eton;
                        color: $eton;
                        border-radius: 20px;
                        cursor: pointer;
                        transition: all 0.5s ease;

                        h3 {
                            font-size: 1rem;
                            padding: 0 1rem;
                            font-weight: 400;
                        }

                        &:hover {
                            background-color: $eton;
                            color: $gunmetal;
                        }
                    }
                }
            }
        }
    }
}