@import "../../global.scss";

.portfolio {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;

    .portfolio-container {
        height: 100vh;  
        width: 80%;  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        .p-title {
            height: 6rem;
            width: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-top: -8rem;

            @include mobile {
                margin-top: 1rem;
            }
    
            h3 {
                color: $cool;
                font-size: 1.125rem;  
            }
    
            .p-title-box {
                display: flex;
                align-items: center;
                justify-content: center;
             
                .h-line {
                    height: 3px;
                    width: 50px;
                    background-color: $gold;        
                }
    
                h2 {
                    color: $gold;
                    font-size: 2rem;
                    text-transform: uppercase;
                    margin: 0 1rem;
                }
            }
        }
        
        .boxes-container {
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                flex-direction: column;
            }

            .box {
                height: 20rem;
                width: 18.75rem;
                background-color: $cool;
                border-radius: 30px;
                border: 1px solid $gold;
                margin: 0 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                .p-img {
                    height: 7.5rem;
                    width: 15rem;
                    border-radius: 10px;
                }

                h3 {
                    width: 80%;
                    font-size: 1.5rem;
                    text-align: center;
                    color: $egg;
                    font-weight: 300;
                }

                .p-btn-container {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .p-a {
                        margin: 0 1rem;

                        .p-btn-g {
                            width: 6.25rem;
                            height: 3rem;
                            font-size: 1.5rem;
                            background-color: $cool;
                            border: 2px solid $teal;
                            border-radius: 10px;
                            color: $teal;
                            transition: all 0.5s ease;
                            cursor: pointer;

                            &:hover {
                                background-color: $teal;
                                color: $cool;
                            }
                        }

                        .p-btn-l {
                            width: 6.25rem;
                            height: 3rem;
                            font-size: 1.5rem;
                            background-color: $teal;
                            border: 2px solid $teal;
                            border-radius: 10px;
                            color: $cool;
                            transition: all 0.5s ease;
                            cursor: pointer;



                            &:hover {
                                background-color: $cool;
                                color: $teal;
                            }
                        }
                    }
                }
            }
        }
    }
}