.navbar {
  height: 70px;
  width: 100%;
  background-color: transparent;
  z-index: 3;
  position: fixed;
  color: #232C33;
  transition: all 1s ease;
}
.navbar .container {
  padding: 8px 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container .left .logo {
  text-decoration: none;
}
.navbar .container .left .logo .logo-text {
  font-size: 40px;
  font-weight: 500;
  font-family: freight-display-pro, serif;
  color: #232C33;
}
.navbar .container .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar .container .right .toggle-dark, .navbar .container .right .toggle-light {
  display: flex;
  padding: 3px;
  border-radius: 1.5rem;
}
.navbar .container .right .toggle-dark {
  background-color: #232C33;
}
.navbar .container .right .toggle-light {
  background-color: #F9F6EE;
}
.navbar .container .right .dark-mode, .navbar .container .right .light-mode {
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  border-radius: 1.5rem;
  width: 3.125rem;
  text-align: center;
}
.navbar .container .right .dark-mode {
  background-color: #232C33;
  color: #F9F6EE;
}
.navbar .container .right .light-mode {
  background-color: #F9F6EE;
  color: #232C33;
}
.navbar .container .right .hamburger {
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 2rem;
}
.navbar .container .right .hamburger span {
  width: 100%;
  height: 3px;
  background-color: #232C33;
  transform-origin: left;
  transition: all 1.5s ease;
}
.navbar.active {
  background-color: #232C33;
}
.navbar.active .left .logo {
  color: #F9F6EE;
}
.navbar.active .right .hamburger span:first-child {
  background-color: #F9F6EE;
  transform: rotate(45deg);
}
.navbar.active .right .hamburger span:nth-child(2) {
  background-color: #F9F6EE;
  opacity: 0;
}
.navbar.active .right .hamburger span:last-child {
  background-color: #F9F6EE;
  transform: rotate(-45deg);
}

.navbar-dark {
  height: 70px;
  width: 100%;
  background-color: transparent;
  z-index: 3;
  position: fixed;
  color: #F9F6EE;
  transition: all 1s ease;
}
.navbar-dark .container {
  padding: 8px 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-dark .container .left .logo {
  text-decoration: none;
}
.navbar-dark .container .left .logo .logo-text {
  font-size: 40px;
  font-weight: 500;
  font-family: freight-display-pro, serif;
  color: #F9F6EE;
}
.navbar-dark .container .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar-dark .container .right .toggle-dark, .navbar-dark .container .right .toggle-light {
  display: flex;
  padding: 3px;
  border-radius: 1.5rem;
}
.navbar-dark .container .right .toggle-dark {
  background-color: #232C33;
}
.navbar-dark .container .right .toggle-light {
  background-color: #F9F6EE;
}
.navbar-dark .container .right .dark-mode, .navbar-dark .container .right .light-mode {
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  border-radius: 1.5rem;
  width: 50px;
  text-align: center;
}
.navbar-dark .container .right .dark-mode {
  background-color: #232C33;
  color: #F9F6EE;
}
.navbar-dark .container .right .light-mode {
  background-color: #F9F6EE;
  color: #232C33;
}
.navbar-dark .container .right .hamburger {
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 2rem;
}
.navbar-dark .container .right .hamburger span {
  width: 100%;
  height: 3px;
  background-color: #F9F6EE;
  transform-origin: left;
  transition: all 1.5s ease;
}
.navbar-dark.active-dark {
  background-color: #F9F6EE;
}
.navbar-dark.active-dark .left .logo {
  color: #232C33;
}
.navbar-dark.active-dark .right .hamburger span:first-child {
  background-color: #232C33;
  transform: rotate(45deg);
}
.navbar-dark.active-dark .right .hamburger span:nth-child(2) {
  background-color: #232C33;
  opacity: 0;
}
.navbar-dark.active-dark .right .hamburger span:last-child {
  background-color: #232C33;
  transform: rotate(-45deg);
}

/*# sourceMappingURL=navbar.css.map */
