@import "../../global.scss";

.navbar {
    height: 70px;
    width: 100%;
    background-color: transparent;
    z-index: 3;
    position: fixed;
    color: $gunmetal;
    transition: all 1s ease;

    .container {
        padding: 8px 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .left {
    
            .logo {
                font-size: 40px;
                font-weight: 500;
                font-family: $display;
                text-decoration: none;
                color: $gunmetal;
            }
        } 
        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .toggle-dark, .toggle-light {
                display: flex;
                padding: 3px;
                border-radius: 1.5rem;
            }

            .toggle-dark {
                background-color: $gunmetal
            }

            .toggle-light {
                background-color: $bone
            }

            .dark-mode, .light-mode {
                margin: 3px;
                padding: 3px;
                cursor: pointer;
                border-radius: 1.5rem;
                width: 3.125rem;
                text-align: center;
            }

            .dark-mode {
                background-color: $gunmetal;
                color: $bone;
            }

            .light-mode {
                background-color: $bone;
                color: $gunmetal;
            }

            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                margin-left: 2rem;
        
                span {
                    width: 100%;
                    height: 3px;
                    background-color: $gunmetal;
                    transform-origin: left;
                    transition: all 1.5s ease;
                }
            }
        }
    }

    &.active {
        background-color: $gunmetal;
        
        .left {
            
            .logo {
                color: $bone;
            }
        }
    
        .right {

            .hamburger {

                span {
    
                    &:first-child {
                        background-color: $bone;
                        transform: rotate(45deg);
                    }
    
                    &:nth-child(2) {
                        background-color: $bone;
                        opacity: 0;
                    }
    
                    &:last-child {
                        background-color: $bone;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

.navbar-dark {
    height: 70px;
    width: 100%;
    background-color: transparent;
    z-index: 3;
    position: fixed;
    color: $bone;
    transition: all 1s ease;

    .container {
        padding: 8px 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .left {
    
            .logo {
                font-size: 40px;
                font-weight: 500;
                font-family: $display;
                text-decoration: none;
                color: $bone;
            }
        } 
        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .toggle-dark, .toggle-light {
                display: flex;
                padding: 3px;
                border-radius: 1.5rem;
            }

            .toggle-dark {
                background-color: $gunmetal
            }

            .toggle-light {
                background-color: $bone
            }

            .dark-mode, .light-mode {
                margin: 3px;
                padding: 3px;
                cursor: pointer;
                border-radius: 1.5rem;
                width: 50px;
                text-align: center;
            }

            .dark-mode {
                background-color: $gunmetal;
                color: $bone;
            }

            .light-mode {
                background-color: $bone;
                color: $gunmetal;
            }

            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                margin-left: 2rem;
        
                span {
                    width: 100%;
                    height: 3px;
                    background-color: $bone;
                    transform-origin: left;
                    transition: all 1.5s ease;
                }
            }
        }
    }

    &.active-dark {
        background-color: $bone;
        
        .left {
            
            .logo {
                color: $gunmetal;
            }
        }
    
        .right {

            .hamburger {

                span {
    
                    &:first-child {
                        background-color: $gunmetal;
                        transform: rotate(45deg);
                    }
    
                    &:nth-child(2) {
                        background-color: $gunmetal;
                        opacity: 0;
                    }
    
                    &:last-child {
                        background-color: $gunmetal;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}